# Данные (слишком большие для git)
data/
*.csv
*.zip

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Модели (если сохраняете)
*.pkl
*.joblib
*.h5
*.model

# Логи
*.log

